*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    color: #fff;
}
nav.navBar{
    padding: 20px;
    display: flex;
    color: #fff;
    background-color: #000;
    font-family: 'Lexend', sans-serif;
    width: 100%;
    text-decoration: none;
}
nav a{
    text-decoration: none;
}
ul.navBar{
    display: flex;
    background-color: #000;
    list-style: none;
    text-decoration: none;
    color: #fff;
    width: 100%;
    list-style: none;
}
.product{
    width: 300px;
}
.nuestrosProductos{
    display: flex;
}
h3{background-color: #000;
    padding: 15px;
    color: #fff;
    text-align: center;
    margin: 0px;
}
.mate1{
    text-align: center;
}
.bienvenidos{
    background-image: url("../assets/img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 50px 800px 50px;
    /* padding-left: 50px;
    padding-bottom: 800px; */
    color: #fff;
    width: 100%;
}
.h1Index{
    font-size: 70px;
    background-size:auto;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
}
.bienvenidos p{
    font-size: 30px;
    background-color: #000;
    /* background-size: contain; */
    align-items: center;
    padding: 10px;
    width: 100%;
}
.tuMate{
    align-items: center;
    text-align: center;
}
img.product{
    width: 100%;
}
main.mates{
    display: flex;
    background-image: url("../assets/img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
main.mates p{
    color: #fff;
}
img.rrss{
    width: 40px;
    height: 40px;
}
footer{
    /* display: flex; */
    color: #fff;
    background-color: #000;
    
}
.imgLogo{
    width: 100px;
}
.location{
    width: 40px;
    height: 40px;
}
footer h4{
    font-size: 30px;
}
.nuestrosProductos{
    background-color: #000;
    color: #fff;
    text-align: center;
    width: 100%;
}
.contacto{
    text-align: center;
}
iframe{
    width: 280px;
    height: 250px;
}
main.main p.tuMate{
    color: #AA8B56;
}
main{
    background-image: url("../assets/img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
main.nosotros{
    text-align: center;
    padding: 200px;
    background-size: cover;
    letter-spacing: normal;
}
.buy {
    display: block;
}
.quienesSomos{
    background-color: rgba(0,0,0,0.7);
    border-radius: 30px;
    padding: 50px;
}
button{
    background-color: #AA8B56;
    color: #000;
    margin: 10px;
    padding: 10px;
    border: 0;
}
fieldset{
    text-align: center;
    height: 700px;
    font-size: 30px;
}
form{
    text-align: center;
}
.formulario{
    text-align: center;
    margin: 250px;
    background-color: rgba(0,0,0,0.7);
    padding: 50px;
    border-radius: 30px;
}
fieldset button{
    font-size: 20px;
}
input{
    width: 200px;
    height: 30px;
    color: #000;
}
.h1Tienda{
    background-color: #000;
    color: #AA8B56;
    font-size: 70px;
    text-align: center;
}
.ubicacion{
    align-content: end;
}
.producto{
    width: 320px;
}
.card p{
    width: 320px;
    text-align: center;
}
.containerCards{
    flex-direction: row;
    display: flex;
    height: 900px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
div.card{
    background-color: rgba(0,0,0,0.5);
}
.buy .productos{
    display: flex;
    flex-direction: row;
    background-color: rgba(0,0,0,0.5);
    font-size: 35px;
    align-items: center;
    padding: 10px;
    border: #AA8B56 2px solid;
}
.buy p{
    padding-left: 20px;
}
button a{
    font-size: 20px;
    align-items: center;
}
/* --------------------------- MEDIA QUERIES -------------------------------*/
@media(min-width: 2561px){
    nav.navBar{
        padding: 0px;
    }
    nav.navBar{
        padding: 0px;
    }
    main{
        padding: 0px
    }
    div.productos{
        padding: 0px;
    }
    img.imgLogo{
        width: 150px;
    }
    .navBar li{
        padding: 50px;
        text-align: center;
        font-size: 30px;
    }
    .nuestrosProductos p{
        padding: 10px;
    }
    footer{
        flex-direction: row;
        text-align: center;
        
    }
    .creador{
        font-size: small;
        padding: 10px;
    }
    .contacto{
        padding: 10px;
    }
    .bienvenidos{
        width: 100%;
    }
    .h1Index{
        width: 100%;
        font-size: 80px;
        text-align: center;
    }
    .ubicacion{
        flex-direction: column;
        padding: 10px;
    }
    p.tuMate{
        font-size: 50px;
    }
    footer.footer{
        width: 100%;
    }
    div.creador{
        text-align: left;
    }
    .creador p{
        
    }
    div.ubicacion{
        text-align:right;
    }
    div.productos{
        padding: 0px;
    }
    footer.footer{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        align-content: center;
    }
    div.creador{
        align-items: center;
    }
}

@media(min-width: 1500px){
    img.imgLogo{
        width: 150px;
    }
    nav.navBar{
        padding: 0px;
    }
    main{
        padding: 0px
    }
    div.productos{
        padding: 0px;
    }
    .navBar li{
        padding: 70px;
        text-align: center;
        font-size: 25px;
    }
    .nuestrosProductos p{
        padding: 10px;
    }
    footer{
        flex-direction: row;
        text-align: center;
        
    }
    .creador{
        font-size: small;
        padding: 10px;
    }
    .contacto{
        padding: 10px;
    }
    .bienvenidos{
        width: 100%;
    }
    .h1Index{
        width: 100%;
        font-size: 80px;
        text-align: center;
    }
    .ubicacion{
        flex-direction: column;
        padding: 10px;
    }
    p.tuMate{
        font-size: 50px;
    }
    footer.footer{
        width: 100%;
    }
    div.creador{
        text-align: left;
    }
    div.ubicacion{
        text-align:right;
    }
    main.nosotros{
        padding: 150px;
        font-size: 30px;
    }
    .quienesSomos h1{
        padding-bottom: 15px;
    }
    footer.footer{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        align-content: center;
    }
    div.creador{
        align-items: center;
    }
}

@media(min-width: 1290px){ 
    img.imgLogo{
        width: 150px;
    }
    nav.navBar{
        padding: 0px;
    }
    main{
        padding: 0px
    }
    div.productos{
        padding: 0px;
    }
    .navBar li{
        padding: 70px;
        text-align: center;
        font-size: 25px;
    }
    .nuestrosProductos p{
        padding: 10px;
    }
    footer{
        flex-direction: row;
        text-align: center;
        
    }
    .creador{
        font-size: small;
        padding: 10px;
    }
    .contacto{
        padding: 10px;
    }
    .bienvenidos{
        width: 100%;
    }
    .h1Index{
        width: 100%;
        font-size: 80px;
        text-align: center;
    }
    .ubicacion{
        flex-direction: column;
        padding: 10px;
    }
    p.tuMate{
        font-size: 50px;
    }

    img.producto{
        width: 170px;
    }
    footer.footer{
        width: 100%;
    }
    div.creador{
        text-align: left;
    }
    div.ubicacion{
        text-align:right;
    }
    main.nosotros{
        padding: 150px;
        font-size: 30px;
    }
    .quienesSomos h1{
        padding-bottom: 15px;
    }
    footer.footer{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        align-content: center;
    }
    div.creador{
        align-items: center;
    }
}

@media(min-width: 1025px){
    img.imgLogo{
        width: 150px;
    }
    .navBar li{
        padding: 50px;
        text-align: center;
        font-size: 20px;
    }
    li{
        padding: 20px;
    }
    .nuestrosProductos p{
        padding: 10px;
    }
    footer{
        flex-direction: column;
        text-align: center;
    }
    .creador{
        font-size: small;
        padding: 10px;
    }
    .contacto{
        padding: 10px;
    }
    .bienvenidos{
        width: 100%;
    }
    .h1Index{
        width: 100%;
        text-align: center;
    }
    .ubicacion{
        flex-direction: column;
        padding: 10px;
    }
    .containerCards{
        height:min-content;
        margin: 50px;
    }
    .quienesSomos h1{
        padding-bottom: 10px;
    }
    img.producto{
        width: 250px;
    }
    .productos p{
        font-size: 25px;
    }
    section.containerCards{
        display: flex;
        flex-direction: row;
    }
    div.card p{
        width: 170px;
    }
    img.producto{
        width: 170px;
    }
}

@media(min-width: 768px){
    nav.navBar{
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    ul.navBar{
        display: flex;
        flex-direction: row;
    }
    .navBar li{
        padding: 30px;
        text-align: left;
        display: flex;
        flex-direction: row;
    }
    li{
        padding: 20px;
    }
    footer{
        flex-direction: column;
        text-align: center;
    }
    .creador{
        font-size: small;
        padding: 10px;
    }
    .contacto{
        padding: 10px;
    }
    .bienvenidos{
        width: 100%;
    }
    .h1Index{
        width: 100%;
        text-align: center;
    }
    .ubicacion{
        flex-direction: column;
        padding: 10px;
    }
    .containerCards{
        display: flex;
        flex-direction: column;
        height:min-content;
        margin: 50px;
    }
    main.nosotros{
        text-align: center;
        padding: 50px;
        background-size: cover;
        letter-spacing: normal;
    }
    .quienesSomos h1{
        padding-bottom: 10px;
    }
    div.quienesSomos p{
        font-size: 20px;
    }
    img.product{
        width: 200px;
    }
    .productos p{
        font-size: 25px;
    }
    label{
        font-size: 20px;
    }
    div.formulario{
        margin: 100px;
    }
    div .card{
        display: flex;
        flex-direction: column;
        width: 50px;
    }
    section.containerCards{
        display: flex;
        flex-direction: row;
    }
    div.card p{
        width: 170px;
    }
    img.producto{
        width: 170px;
    }
}

@media(min-width: 425px){
    .nuestrosProductos{
        width: 100%;
        display: block;
    }
    .navBar{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .navBar li{
        padding: 20px;
    }
    li{
        padding: 20px;
    }
    footer{
        flex-direction: column;
        text-align: center;
    }
    .creador{
        font-size: small;
    }
    .bienvenidos{
        width: 100%;
    }
    .h1Index{
        width: 100%;
        text-align: center;
    }
    .ubicacion{
        flex-direction: column;
    }
    .containerCards{
        height:min-content;
        margin: 50px;
    }
    main.nosotros{
        text-align: center;
        padding: 30px;
        background-size: cover;
        letter-spacing: normal;
        font-size: 15px;
    }
    .quienesSomos h1{
        font-size: 25px;
        padding-bottom: 10px;
    }
    img.producto{
        width: 130px;
    }
    .productos p{
        font-size: 15px;
    }
    button a{
        font-size: 15px;
    }
    div.productos{
        padding: 0px;
    }
    label{
        font-size: 15px;
    }
    div.formulario{
        margin: 50px;
    }
}

@media(min-width: 376px){
    .nuestrosProductos{
        width: 100%;
        display: block;
    }
    .navBar{
        flex-direction: column;
        text-align: center;
    }
    .navBar li{
        padding: 20px;
    }
    footer{
        flex-direction: column;
        text-align: center;
    }
    .creador{
        font-size: small;
    }
    .bienvenidos{
        width: 100%;
        text-align: center;
    }
    .h1Index{
        width: 100%;
        text-align: center;
    }
    .ubicacion{
        flex-direction: column;
    }
    .containerCards{
        height:min-content;
        margin: 50px;
    }
    .producto{
        width: 290px;
    }
    .card p{
        width: 290px;
        text-align: center;
    }
    main.nosotros{
        text-align: center;
        padding: 30px;
        background-size: cover;
        letter-spacing: normal;
        font-size: 15px;
    }
    .quienesSomos h1{
        font-size: 25px;
        padding-bottom: 10px;
    }
    label{
        font-size: 15px;
    }
    div.formulario{
        margin: 30px;
    }
}

@media(min-width: 320px){
    .nuestrosProductos{
        width: 100%;
        display: block;
    }
    .navBar{
        flex-direction: column;
        text-align: center;
    }
    .navBar li{
        padding: 20px;
    }
    footer{
        flex-direction: column;
        text-align: center;
    }
    .creador{
        font-size: small;
    }
    .bienvenidos{
        width: 100%;
        text-align: center;
    }
    .h1Index{
        width: 100%;
        text-align: center;
    }
    .containerCards{
        height:min-content;
        margin: 50px;
    }
    .producto{
        width: 100%;
        justify-items: center;
    }
    .card p{
        width: 100%;
        text-align: center;
    }
    div.productos{
        display: flex;
        flex-direction: column;
    }
    main.nosotros{
        text-align: center;
        padding: 20px;
        background-size: cover;
        letter-spacing: normal;
        font-size: 10px;
    }
    .quienesSomos h1{
        font-size: 20px;
        padding-bottom: 10px;
    }
    div.productos p{
        font-size: 20px;
    }
    img.producto{
        width: 120px;
    }
    button a{
        font-size: 15px;
        padding: 5px;
    }
    label{
        font-size: 15px;
    }
    div.formulario{
        margin: 7px;
        margin-top: 60px;
        padding: 20px;
    }
}