.h1Tienda{
    background-color: #000;
    color: #AA8B56;
    font-size: 70px;
    text-align: center;
}

.card p{
    width: 300px;
    text-align: center;
    padding: 5px;
}

.containerCards{
    flex-direction: row;
    display: flex;
    height: 900px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .card{
        background-color: rgba(0,0,0,0.5);
        border-radius: 10px;
        width: 300px;
    }
    img.producto{
        align-items: center;
        align-content: center;
        width: 300px;
        border-radius: 10px;
        align-items: center;
    }
}

