.nosotros{
    text-align: center;
    padding: 200px;
    background-size: cover;
    letter-spacing: normal;
    .quienesSomos{
        background-color: rgba(0,0,0,0.7);
        border-radius: 30px;
        padding: 50px;
    }
}