.buy{
    .productos{
        display: flex;
        flex-direction: row;
        background-color: rgba(0,0,0,0.5);
        font-size: 30px;
        align-items: center;
        padding: 10px;
        margin: 20px;
        margin-top: 0px;
        border: #AA8B56 2px solid;
        border-radius: 10px;
        .producto{
            width: 250px;
        }
    }
    p{
        padding-left: 20px;
    }
}

button{
    background-color: #AA8B56;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    border-style: none;
    a{
        text-decoration: none;
        font-style: none;
        font-size: 20px;
        align-items: center;
    }
}